{% extends "layout.twig" %}
{% set content_title = 'Dashboard - MoreTeVe' %}

{% block content %}
    <div id="content" class="app-content" role="main">
        <div class="app-content-body">

            <!--
            <div class="row wrapper">
            </div>
            <div class="row">
                <div class="col-sm-1"></div>

                <div class="col-sm-10">
                    <div class="bg-black dker wrapper-lg" ng-controller="FlotChartDemoCtrl">
                        <ul class="nav nav-pills nav-xxs nav-rounded m-b-lg">
                            <li class="active"><a href>Day</a></li>
                            <li><a href ng-click="refreshData()">Week</a></li>
                            <li><a href ng-click="refreshData()">Month</a></li>
                        </ul>
                        <div ui-jq="plot" ui-refresh="d0_1" ui-options="
                        [
                          { data: [ [0,7],[1,6.5],[2,12.5],[3,7],[4,9],[5,6],[6,11],[7,6.5],[8,8],[9,7] ], points: { show: true, radius: 2}, splines: { show: true, tension: 0.4, lineWidth: 1 } }
                        ],
                        {
                          colors: ['#23b7e5', '#7266ba'],
                          series: { shadowSize: 3 },
                          xaxis:{ font: { color: '#507b9b' } },
                          yaxis:{ font: { color: '#507b9b' }, max:16 },
                          grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#1c2b36' },
                          tooltip: true,
                          tooltipOpts: { content: 'Visits of %x.1 is %y.4',  defaultTheme: false, shifts: { x: 10, y: -25 } }
                        }
                      " style="min-height:360px">
                        </div>
                    </div>

                    <div class="wrapper-md bg-white-only b-b">
                        <div class="row text-center">
                            <div class="col-sm-3 col-xs-6">
                                <div>Customers <i class="fa fa-fw fa-caret-up text-success text-sm"></i></div>
                                <div class="h2 m-b-sm">250</div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div>Devices <i class="fa fa-fw fa-caret-up text-warning text-sm"></i></div>
                                <div class="h2 m-b-sm">1000</div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div>Revenue <i class="fa fa-fw fa-caret-up text-success text-sm"></i></div>
                                <div class="h2 m-b-sm">$200.00</div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div>Visits <i class="fa fa-fw fa-caret-down text-danger text-sm"></i></div>
                                <div class="h2 m-b-sm">2,300</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
{% endblock %}