<form class="form-inline" role="form" action="{{ main_url }}{{ form }}"  method="POST">
    {% for _name in search %}
        {% set _define = db[_name] %}
        {% set _value = search_params["_"~_name] %}
        <div class="form-group">
            <label>{{ _define.alias }}</label>
            {% include "cms/component/item.twig" %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-default" name="action" value="search">Search</button>
</form>
<hr>